.info
  %h2= @user_file.media_file_name
  %p= @user_file.media
  - if @user_file.media_content_type && @user_file.media_content_type[:image]
    = image_tag @user_file.media, :controls => true
  - else
    = video_tag @user_file.media, :controls => true
