%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand
        YodaFile
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          = link_to "New upload", new_user_file_path
        %li
          = link_to "My files", user_files_path
