%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand
        YodaFile
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a(href="#") hello
        %li
          %a(href="#") world

.container
  .jumbotron
    %h1 All the filez
    .stuff
      here is some stuff
      .more-stuff
        here is more stuff
